.card__btn_action_delete-visible {
  content: '';
  background: url(../../../../images/delete-btn-image.svg) center no-repeat;
  width: 18px;
  height: 20px;
  position: absolute;
  top: 18px;
  right: 15px;
}